<!DOCTYPE html>
<html>
<title>Router 설정 페이지</title>
<meta charset="UTF-8">
<% include ./meta.ejs %>
<style>
.w3-sidebar a {font-family: "Roboto", "Nanum gothic", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", "Nanum gothic", sans-serif;}
    body{padding:0px}
</style>

	<script>
		function listpost(page, perPage) {
            document.location = '/process/listpost?page=' + page + '&perPage=' + perPage;
		}
	</script>

<body class="w3-content w3-grey" style="max-width:1200px">

    <% include ./menu.ejs %>
	  
	<!-- 내용 시작 -->
	<div class="w3-main w3-white" style="margin-left:250px">

		<!-- Push down content on small screens -->
		<div class="w3-hide-large" style="margin-top:83px"></div>

		<!-- 시스템 정보 -->
		<header class="w3-container w3-xlarge">
			<p class="w3-left w3-border-bottom">공지사항 설정</p>
		</header>

    	<div class="w3-container">
    		<div class=" w3-text-grey" id="summary_device">
                <p id="board_title">공지사항</p>
            </div>
            
				<div class="w3">
					 <div class="w3">
						<div class="w3-bar w3-border-top w3-border-bottom">
                            <table class="w3-table">
                                <tr>
                                    <td width="60px">번호</td>
                                    <td width="70%"><div align="center">제목</div></td>
                                    <td>작성자</td>
                                    <td>날짜</td>
                                </tr>
                            </table>
			   			</div>
						<div class="w3-border-bottom">
							<%  var noStart = (pageCount - page) * perPage;
							
							    for (var i = 0; i < posts.length; i++) {
								   var curTitle = posts[i]._doc.title;
								   var curContents = posts[i]._doc.contents;
								   var curWriter = posts[i]._doc.writer.email;
								   var curNo = noStart - i;
								   %>
								    <div class="item">
										<div class="ui grid ">
						    				<div class="w3-left w3-button w3-center" style="width:60px"><%=curNo %></div>
						    				<div class="fourteen wide column" onclick="javascript:window.location='/process/showpost/<%=posts[i]._id %>'">
						    					<div class="w3-button" style="width:70%">
                                                    <%=curTitle %>
												</div>
                                                <div>
											         <%=curWriter%>
                                                </div>    
						    				</div>
						    			</div>
						    		</div>
							<% } %>	
						 
				    	</div>
			    	 
			       		<br>
						<div class="w3-border-top w3-border-bottom w3-center">
					 		<%
					 			if (page > 0) {
					 		%>
					 				<div class="ui icon button" onclick="listpost(0, <%=perPage %>)">
										<i class="dfa"></i>
									</div>
									<div class="ui icon button" onclick="listpost(<%=(page-1) %>, <%=perPage %>)">
										<i class="dfa"></i>
									</div>
					 		<%
					 			} else {
					 		%>
					 				<div class="ui disabled icon button">
										<i class="dfa"></i>
									</div>
									<div class="ui disabled icon button">
										<i class="dfa"></i>
									</div>
					 		<%
					 			}
					 		%>
					 		<% 
					 			var initial = Math.floor(page / 10) * 10;
					 			console.log('initial : ' + initial);
					 			
					 			var max = pageCount - initial;
					 			if (max > 10) {
					 				max = initial + 10;
					 			} else {
					 				max = initial + max;
					 			}
					 			console.log('max : ' + max);
					 			
					 			for (var i = initial; i < max; i++) {
					 				if (i != page) {
					 		%>
					 					<div class="w3-button" onclick="listpost(<%=i %>, <%=perPage %>)">
					 						<%= i %>
					 					</div>
					 		<%
					 				} else {
					 		%>
					 					<div class="w3-button">
					 						<%= i %>
					 					</div>
					 		<% 
					 				}
					 			}
					 		%>
					 		<%
					 			if ((page+1) < pageCount) {
					 		%>
					 				<div class="ui icon button" onclick="listpost(<%=(page+1) %>, <%=perPage %>)">
										<i class="dfa"></i>
									</div>
									<div class="ui icon button" onclick="listpost(<%=(pageCount-1) %>, <%=perPage %>)">
										<i class="dfa"></i>
									</div>
					 		<%
					 			} else {
					 		%>
					 				<div class="ui disabled icon button">
										<i class="dfa"></i>
									</div>
									<div class="ui disabled icon button">
										<i class="dfa"></i>
									</div>
					 		<%
					 			}
					 		%>
					 	</div>
						 	  
						<br><br>
                        <div class="w3-right">
                            <a class="w3-bar-item w3-button" href='/process/listpost?page=0&perPage=2'>새로고침</a>
                            <a class="w3-bar-item w3-button" href='/add_notice'>글쓰기</a>
                        </div>
					    <br>
					    <br>
					</div>
				</div>
			</div>
            <div class="w3-black w3-center w3-padding-24"> VeryPI Router Setting PAGE</div>
		</div>
	<script src="../public/js/script_main.js"></script>
	<script src="/public/semantic.min.js"></script>
</body>
</html>

